.mat-card-actions {
  &[position='top-right'] {
    position: absolute;
    top: 0%;
    left: 90%;
  }
  &[position='center'] {
    position: relative;
    left: 40%;
  }
}

/*
.bottom-card {
  width: 30%;
  position: absolute;
  left: 50%;
  top: 75%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
*/

.aux-card {
  background-color: "background";
}

.middle-card {
  background-color: "background";
}

.middle-card:hover {
  filter: invert(10%);
}

.aux-card:hover {
  filter: invert(10%);
}

.mat-slider-horizontal {
  width: 100%;
}

.mat-icon-button {
  &[position='right'] {
      position: relative;
      left: 30%;
  }
  &[position='left'] {
      position: relative;
      left: 3%;
  }
  &[position='center'] {
      position: relative;
      left: 50%;
  }
}
